/* general*/
body {
  background-image: url('./../imj/back.png');
}

.button {
  background-color:  rgb(20, 103, 69);
  /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: dotted;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #234b23;
  /* Green */
  color: white;
}


table {
  overflow-y:scroll;
  width: 50%;
  margin-left: 570px;
  border: 3px solid  rgb(20, 103, 69);
}


.normal_th,td {
  padding: 25px;
  color:  rgb(20, 103, 69);

}



/*index*/
.box {
  margin-top: 20%;
  margin-left: 50%;
  float:left;
  height: 220px;
  width: 200px;
  background-color: rgb(20, 103, 69);
  background-blend-mode: difference;
}


/*welcome.php*/

.welcome_info {
  float: right;
}
.menu_header{
  float: up;
  width: 20%;
}
.log_out_btn {
  float: right;
  background-color:  rgb(20, 103, 69);
}

.user {
  padding: 18px 20px;
  text-align: center;
  font-size: large;
  height: 63px;
  color: rgb(255, 252, 252);
  background-color:  rgb(20, 103, 69);
  float: left;
}


/* The side navigation menu */
.sidebar {
  position: 0;
  width: 200px;
  background-color:  rgb(20, 103, 69);
  height: 28%;
  float: left;
}

.nav_accordion {
  opacity: 0;
}

.nav_accordion:hover {
 opacity: 1;
}


/* Sidebar links */
.sidebar a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color:  rgb(20, 103, 69);
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: rgb(255, 255, 255);
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


/*cart.php */
.total_cost{
  padding: 18px 20px;
  margin-left: 570px;
  text-align: center;
  font-size: large;
  height: 15px;
  color: rgb(255, 252, 252);
  background-color: rgb(20, 103, 69);
  float: left;

}

/*products.php */
.search{
  table-layout: fixed;
  width: 30%;
  margin-left: 0;
  border: 3px solid  rgb(20, 103, 69);
  background-color:  rgb(20, 103, 69);
}
.field{
  width: 30%;
}

/* not_authorized.php*/

.not_authorized{
  background-color:  rgb(20, 103, 69);
  float: left;
  width:20%;

}


.header_line{
  background-color:  rgb(20, 103, 69);
  color: white;
}