body{
    background-image: url('back.png');
}



.box{
    margin: 300px;
    margin-left: 400px;
    height: 200px;
    width: 200px;
    background-color: brown;
    background-blend-mode: difference;
}